node_modules/
build/
target/
dist/
fluid-lsp-*/
*.wasm
grammars/
extension.wasm

.DS_Store
*.swp
.idea/
.zed/
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
.cache-fot/
tools/viewhelper-schemas/.Build/
tools/viewhelper-schemas/out/*
!tools/viewhelper-schemas/out/.gitkeep
